<h2 id="title">Welcome to Spotlife</h2>


{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'posts'}}Posts{{/link-to}}
{{#link-to 'request_emails.new'}}Request Spotlights{{/link-to}}
{{#link-to 'spotlight_emails'}}Send Spotlights{{/link-to}}


{{#if session.isAuthenticated}}
  <button {{ action 'invalidateSession' }}>Logout</button>
{{else}}
  {{#link-to 'login'}}Login{{/link-to}}
  {{#link-to 'signup'}}Sign Up{{/link-to}}
{{/if}}

{{outlet}}
