<h4>Create new post</h4>
<form {{action 'createPost' on='submit'}}>
  <!-- needs user id -->
  <label for='body'>Body</label>
  {{input id='body' type='text' value=body}}
  <button type='submit'>Submit</button>
</form>
